<header>
    <img
        src="assets/logo-furia.png"
        alt="Logo da Furia"
        width="130px"
        height="130px"
        loading="eager"
    >
</header>
    
<main>
    <div class="chat-container">
        <div class="chat-history" #chatScrollHistory>
            <div *ngIf="chatHistory.length === 0" class="chat-message">
                <div class="message">🐾 Olá, guerreiro(a)! Seja bem-vindo ao chat de fãs da FURIA.</div>
            </div>

            <div *ngFor="let msg of chatHistory" class="chat-message">
                <div [innerHTML]="msg" class="message"></div>
            </div>

            <div *ngIf="isLoading" class="chat-message placeholder">
                <div class="message">🤔 Pensando...</div>
            </div>
        </div>
        <div class="input-container">
            <input [(ngModel)]="message" (keyup.enter)="sendMessage()" placeholder="Digite sua mensagem...">
            <button (click)="sendMessage()">Enviar</button>
        </div>
    </div>
</main>